{% extends "archapp/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<div class="section section-gray">
  <form method="post" action="">
    <div class="form-group-custom box">
      <h3>{% trans "Log in" %}</h3>
      {% csrf_token %}
      {% for field in form %}
      <div class = "form-group-item">
        {{field.label_tag}}
        {{ field|attr:"class:form-control form-custom"}}
        {{ field.errors }}
      </div>
      {% endfor %}
      {% if form.errors %}
      <div class="form-group-item text-danger">
        {% trans "Your username and password didn't match. Please try again." %}
      </div>
      {% endif %}
      <div class="form-group-item margin-top">
        <input type="submit" class="btn btn-primary" value="login" />
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
</div>
{% endblock %}
