{% extends "archapp/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}


<div class="section section-gray">

  <div class="container">
    <h3 class="site_name text-center">{% trans "Create new site" %}</h3>
    <form id="newsiteform" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <ul class="nav nav-tabs" role="tablist">
        {% for fset in form.fieldsets %}
        <li role = "presentation"{% if forloop.first %} class="active"{% endif %}>
          <a href = "#{{ fset.legend }}" role = "tab" data-toggle = "tab">{{ fset.description }}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for fset in form.fieldsets %}
        <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{fset.legend}}">
          <div class="form-group-custom margin-top">
                {% for field in fset %}
                {% if not field.is_hidden %}
                <div class="form-group-item">
                  {% else %}
                  <div class="form-group-item">
                    {% endif %}
                    {% if not field.is_hidden %}
                    {{field.label_tag}}                    
                    {% endif %}
                    {% if field.name = "literature" %}
                    {% else %}
                    {% endif %}
                    {{ field|attr:"class:form-control form-custom"}}
                    {{ field.errors }}
                  </div>
                  {% endfor %}
              </div>
              {% if forloop.first %}
              <div class="container">
                    <h3 class="text-center">{% trans "Click on the map to pick location" %}</h3>
                    <div class="geo-map" id="map"></div>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
            <div id='testinput'></div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}" class="btn btn-border-color textcol btn-sm background" />
              <a href = "{% url 'archapp:welcome'%}" class="btn btn-primary">{% trans 'Cancel' %}</a>
            </div>
        </div>
      </div>
</div>
    </form> 
    </div> 
    </div> 
    <script type="text/javascript">
$(function() {
  initUploadFields($('#newsiteform'));
});
$("textarea").parents("div.form-group-custom").css({"max-width": "1024px"});
    </script>
    {% include 'upload_template.html' %}
    {% endblock %}
