{% extends "archapp/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<div class="section section-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-5 col-md-offset-4 col-sm-offset-3 text-center">
        <h3>{% trans "Register" %}</h3>
      </div>
    </div>
    <form id="signupform" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row form-group-custom">
        <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-5 col-md-offset-4 col-sm-offset-3 box">
          {% for field in form %}
          <div class = "form-group">
            {{field.label_tag}}              
            {{ field|attr:"class:form-control form-custom has-error"}}
            {{ field.errors }}
          </div>
          {% endfor %}
          <div class="row margin-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
              <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(function() {
  initUploadFields($('#signupform'));
});
</script>
{% include 'upload_template.html' %}

{% endblock %}
